name: End-to-end tests

on:
  push:
    branches:
      - main

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress install
        uses: cypress-io/github-action@v4
        with:
          runTests: false # just perform install
          install-command: yarn install:ci

      - name: Cypress info
        run: yarn cypress info

      - name: Node info
        run: |
          node --version
          node -p 'os.cpus()'

      - name: Build code
        run: yarn build

      - name: Save the build folder
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build
          if-no-files-found: error

  ui-chrome-tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download the build folders
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build

      - name: List current directory
        run: ls -r

      - name: "UI Tests - Chrome"
        uses: cypress-io/github-action@v4
        with:
          start: yarn start:ci
          wait-on: "http://localhost:1234"
          wait-on-timeout: 60
          browser: chrome
          record: false
          group: "UI - Chrome"
          config-file: cypress.config.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ui-chrome-mobile-tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download the build folders
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build

      - name: List current directory
        run: ls -r

      - name: "UI Tests - Chrome - Mobile"
        uses: cypress-io/github-action@v4
        with:
          start: yarn start:ci
          wait-on: "http://localhost:1234"
          wait-on-timeout: 60
          browser: chrome
          record: false
          group: "UI - Chrome - Mobile"
          config-file: cypress.config.ts
          config: "viewportWidth=375,viewportHeight=667"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
